extends base_company
block content 
    // page content
    .right_col(role='main',style="background:#49a8ff")
      // top tiles
      .row
        .col-md-12.col-sm-12.col-xs-12
          .dashboard_graph
            .row.x_title
              .col-md-12
                h2
                 img(src='/images/system_admin.png',height='35px',width='30px')
                 | &nbsp;Building Management&nbsp;&nbsp; 
                 
              .col-md-12
               for row, index in data
                form.form-horizontal.form-label-left(role='form',method='post' action='/building/edit/#{row.building_id}')
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 Building Name &nbsp; : &nbsp;
                        .col-md-3
                          input(type='text', name='building_name',id='building_name',style='width:400px',value='#{row.building_name}')
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 Building Address &nbsp; : &nbsp;
                        .col-md-3
                          textarea(rows='4', cols='50',name='building_address',id='building_address',style='width:400px')
                           | #{row.building_add}
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 Location &nbsp; : &nbsp;
                        .col-md-3
                          input(type='text', name='location',id='location',style='width:400px',value='#{row.building_location}')
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 &nbsp;&nbsp;
                        .col-md-9
                          input#pac-input.controls(type='text', placeholder='Search Box')
                          #googleMapCompany(style='width:100%;height:250px;')
                    .form-group
                        .col-md-9.col-sm-9.col-xs-12.col-md-offset-3
                          button.btn.btn-primary(type='submit',id="confirm_btn") 确认
                          button.btn.btn-success(type='button',onclick='goBack();') 取消
    // /page content

