extends base
block content 
    // page content
    .right_col(role='main',style="background:#49a8ff")
      // top tiles
      .row
        .col-md-12.col-sm-12.col-xs-12
          .dashboard_graph
            .row.x_title
              .col-md-12
                h2
                 img(src='/images/system_admin.png',height='35px',width='30px')
                 | &nbsp;雇员管理&nbsp;&nbsp; 
                 
              .col-md-12
                form.form-horizontal.form-label-left(role='form',method='post' action='/employee/add')
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 雇员名字 &nbsp; : &nbsp;
                        .col-md-3
                          input(type='text', name='employee_name',id='employee_name',style='width:400px')
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 联络号码 &nbsp; : &nbsp;
                        .col-md-3
                          input(type='text', name='employee_phone_no',id='employee_phone_no',style='width:400px')
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 电邮 &nbsp; : &nbsp;
                        .col-md-3
                          input(type='text', name='employee_email',id='employee_email',style='width:400px')
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 座右铭 &nbsp; : &nbsp;
                        .col-md-3
                          input(type='text', name='employee_motto',id='employee_motto',style='width:400px')
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 地址 &nbsp; : &nbsp;
                        .col-md-3
                          input(type='text', name='employee_address',id='employee_address',style='width:400px')
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 登入密码 &nbsp; : &nbsp;
                        .col-md-3
                          input(type='text', name='employee_password',id='employee_password',style='width:400px')
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 职位 &nbsp; : &nbsp;
                        .col-md-3
                          select(id="employee_level",name="employee_level",required).col-sm-6
                            option(value="1") 管理
                            option(value="2") 普通用户
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 公司 &nbsp; : &nbsp;
                        .col-md-3
                          select(id="company_id",name="company_id",required).col-sm-6
                            for row, index in data
                             option(value="#{row.company_id}") #{row.company_name}
                    .form-group
                        .col-md-9.col-sm-9.col-xs-12.col-md-offset-3
                          button.btn.btn-primary(type='submit',id="confirm_btn") 确认
                          button.btn.btn-success(type='button',onclick='goBack();') 取消
    // /page content

