extends base
block content 
    // page content
    .right_col(role='main',style="background:#49a8ff")
      // top tiles
      .row
        .col-md-12.col-sm-12.col-xs-12
          .dashboard_graph
            .row.x_title
              .col-md-12
                h2
                 img(src='/images/system_admin.png',height='35px',width='30px')
                 a(href='/location') &nbsp;地点 |
                 a(href='/location_add') &nbsp;增添地点 |
                 a(href='/floor_plan_list') &nbsp;平面图 |
                 a(href='/floor_plan') &nbsp;增添平面图 |
              .col-md-12
                form.form-horizontal.form-label-left(role='form',method='post' action='/location/add')
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 信标 ID &nbsp; : &nbsp;
                        .col-md-6
                          input(type='text', name='beacon_id',id='beacon_id')
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 地点 &nbsp; : &nbsp;
                        .col-md-6
                          input(type='text', name='beacon_location',id='beacon_location')
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 楼层 &nbsp; : &nbsp;
                        .col-md-6
                          input(type='text', name='beacon_level',id='beacon_level')
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 地点编号 &nbsp; : &nbsp;
                        .col-md-6
                          input(type='text', name='location_code',id='location_code')
                    .form-group
                        .col-md-9.col-sm-9.col-xs-12.col-md-offset-3
                          button.btn.btn-primary(type='submit',id="confirm_btn") 确定
                          button.btn.btn-success(type='button',onclick='goBack();') 取消
    // /page content

