//.col-md-3.left_col(style="background:#808080")
//  .left_col.scroll-view
//    .navbar.nav_title(style='border: 0;')
//      //a.site_title(href='/')
//        i.fa.fa-paw
//        span China Telecom
//    //.clearfix
//    // menu profile quick info
//    .profile
//      .profile_pic
//        img.img-circle.profile_img(src='gentelella/production/images/img.jpg', alt='...')
//      .profile_info
//        span Welcome
//        h2 Chen Yi
//    // /menu profile quick info
//    br
//    // sidebar menu
//    #sidebar-menu.main_menu_side.hidden-print.main_menu
//      .menu_section
//        h3 Strive for Excellence
//        ul.nav.side-menu
//          li
//            a
//              i.fa.fa-home
//              |  Map 
//              span.fa.fa-chevron-down
//            ul.nav.child_menu
//              li
//                a(href='/tracking') Tracking
//              li
//                a(href='/path_playback') Path Playback
//              
//          li
//            a
//              i.fa.fa-edit
//              |  Report 
//              span.fa.fa-chevron-down
//            ul.nav.child_menu
//              li
//                a(href='/attendance') Attendance
//              li
//                a(href='/documents') Documents
//              li
//                a(href='/alert') Alert
//              
//          li
//            a
//              i.fa.fa-desktop
//              |  System Admin 
//              span.fa.fa-chevron-down
//            ul.nav.child_menu
//              li
//                a(href='/employee_management') Employee Management
//              li
//                a(href='/route_management') Route Management
//              li
//                a(href='/map_management') Map Management


.col-md-3.left_col
  .left_col.scroll-view
    .clearfix
    // menu profile quick info
    .profile
      .profile_pic
        if session.passport.user.employee_image !== null
         img.img-circle.profile_img(src='/#{session.passport.user.employee_image}', alt='...')
        else
         img.img-circle.profile_img(src='../gentelella/production/images/user.png', alt='...')
      .profile_info
        span 欢迎,
        h2 #{session.passport.user.employee_name}
    // /menu profile quick info
    br
    // sidebar menu
    #sidebar-menu.main_menu_side.hidden-print.main_menu
      .menu_section
        h3  
        h3 #{session.passport.user.employee_motto}
        ul.nav.side-menu
          li
            a
              i.fa.fa-map
              | 地图 
              span.fa.fa-chevron-down
            ul.nav.child_menu
              li
                a(href='/tracking')
                    img(src='../images/tracking.png' width='25px' height='25px')
                    | &nbsp;&nbsp;定位追踪
              li
                 a(href='/path_playback')
                    img(src='../images/path_playback.png' width='25px' height='25px')
                    | &nbsp;&nbsp;轨迹回放
          li
            a
              i.fa.fa-folder-open
              |  报表
              span.fa.fa-chevron-down
            ul.nav.child_menu
              li
                a(href='/attendance')
                    img(src='../images/attendance.png' width='25px' height='25px')
                    | &nbsp;&nbsp;签到
              li
                a(href='/documents')
                    img(src='../images/documents.png' width='25px' height='25px')
                    | &nbsp;&nbsp;文件
              li
                a(href='/alert')
                    img(src='../images/alert.png' width='25px' height='25px')
                    | &nbsp;&nbsp;警报
          li
            a
              i.fa.fa-user
              |  系统管理  
              span.fa.fa-chevron-down
            ul.nav.child_menu
              li
                a(href='/employee_management') 
                    img(src='../images/system_admin.png' width='25px' height='25px')
                    | &nbsp;&nbsp;雇员管理
              li
                a(href='/route_management') 
                    img(src='../images/path_playback.png' width='25px' height='25px')
                    | &nbsp;&nbsp;路径管理
              li
                a(href='/location')
                    img(src='../images/tracking.png' width='25px' height='25px')
                    | &nbsp;&nbsp;地点管理
              li
                a(href='/map_management')
                    img(src='../images/map.png' width='25px' height='25px')
                    | &nbsp;&nbsp;地图管理
          li
            a(href='/logout')
              i.fa.fa-power-off
              | 登出 
